/*@import url("/css/el  estilo que queromos importar.css");*/

*{
    box-sizing: border-box;/*regla para el box-model tenga el total de la medida dada, incluido border, margin, padding y contenido*/
}

body{
    background-color: #161616;
    min-width: 450px;/*para dar un minimo de ancho que se vea bien.*/
}

