<sidebar>
    <ul>
        <li><a href="/users/listUsers">Lista de usuarios</a></li>
        <li><a href="/products/listProducts">Lista de productos</a></li>
        <li><a href="/">home</a></li>
    </ul>
</sidebar>