<!DOCTYPE html>
<html lang="es">
<!-- HEAD INICIO-->
<%- include('../partials/head.ejs') %>
<!-- HEAD FIN-->
<body>
<!-- HEADER INICIO-->
<%- include('../partials/header.ejs') %>
<!-- HEADER FIN-->
<!-- SIDEBAR INICIO-->
<%- include('../partials/sidebar.ejs') %>
<!-- SIDEBAR FIN-->
<!--------------------------------------->
<!-- CONTENIDO PRINCIPAL INICIO-->
<h1>ERROR 404 pagina no encontrada</h1>
<!-- CONTENIDO PRINCIPAL FIN-->
<!--------------------------------------->
<!-- FOOTER INICIO-->
<%- include('../partials/footer.ejs') %>
<!-- FOOTER FIN-->
</body>
</html>